<input type="radio" name="category" id="category01" class="menu-category" checked autofocus role="tab" />
<label for="category01" class="menu-category">category 01</label>
<input type="radio" name="category" id="category02" class="menu-category" role="tab" />
<label for="category02" class="menu-category">category 02</label>
<input type="radio" name="category" id="category03" class="menu-category" role="tab" />
<label for="category03" class="menu-category">category 03</label>
<input type="radio" name="category" id="category04" class="menu-category" role="tab" />
