<input type="radio" name="category" id="category01" class="menu-category" checked autofocus role="tab" />
<label for="category01" class="menu-category">Spirituous</label>
<input type="radio" name="category" id="category02" class="menu-category" role="tab" />
<label for="category02" class="menu-category">Non-alcoholic</label>
