/**
* Basic Styles
*
* @desc Basic and common styles. Formats for every device live in Common Styles, for device-specific stylings use Mobile First approach.
* @author [HZ]
* @dependency _app_settings.scss
*/

// Common Styles
body, html {
  margin: 0;
  height: 100%;
  @include font-text;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 1.6em;

  span {
    font-size: 0.6em;
  }
}

label {

  &:hover {
    cursor: pointer;
  }
}

.main {
  min-width: 400vw;
  height: 100%;
  transition: transform 0.4s cubic-bezier(0.860,  0.000, 0.070, 1.000);
  display: flex;
}

.app {
  height: 100%;
  width: 100vw;
}


// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
