<article class="susy-grid-example">
  <div class="susy-grid-example__item">
    <p>Lorem ipsum dolor.</p>
  </div>
  <div class="susy-grid-example__item">
    <p>Lorem ipsum dolor.</p>
  </div>
  <div class="susy-grid-example__item">
    <p>Lorem ipsum dolor.</p>
  </div>
  <div class="susy-grid-example__item">
    <p>Lorem ipsum dolor.</p>
  </div>
</article>
