@mixin message() {
  margin: $spacing-hard/4 $spacing-hard;
  max-height: 60px;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.175,  0.885, 0.320, 1.275);

  &__status {
    color: $color-error;
  }

  &.hide {
    max-height: 0;
  }
}

@keyframes wait {
  0% {
    max-width: 0;
  }
  10% {
    max-width: 0;
  }
  80%  {
    max-width: 3em;
  }
  100% {
    max-width: 3em;
  }
}

.message {
  @include message();
}
