    <!--<script src="js/app.js"></script>-->
    <!--<script src="js-min/app.pkgd.js"></script>-->

    <!--<script>function loadCSS(e){var n=window.document.createElement("link"),t=window.document.getElementsByTagName("head")[0];n.rel="stylesheet",n.href=e,n.media="only x",t.parentNode.insertBefore(n,t),setTimeout(function(){n.media="all"},0)}loadCSS("css/app.css");/*loadCSS('css-min/app.css');*/</script>
    <noscript>-->
      <!--<link rel="stylesheet" href="css-min/app.css">-->
    <!--</noscript>-->
	</body>
</html>
