<!doctype html>
<html class="no-js" lang="de" itemscope itemtype="http://schema.org/WebPage">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title itemprop="name">A-K Catalog</title>

		<meta name="description" itemprop="description" content="[Roughly 155 Characters]">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Image for G+ post (app. 560 x 560) -->
		<meta itemprop="image" content="[http://www.example.com/image.jpg]">

		<link rel="apple-touch-icon" href="[apple-touch-icon.png]">

		<style type="text/css">
			/* Above-The-Fold-Styles go here */
		</style>


  	<link rel="stylesheet" href="{{{css-path}}}app.css">

	</head>
	<body>
