<section class="message" id="jsMessage">
  <p class="message__text">Actualising<span class="message__waiting">...</span> <span id="jsStatus" class="message__status">Sorry, I need JavaScript!</span></p>
</section>
