.header {
  background-color: $color-dark;
  height: 80px;
  width: 400vw;
  color: $color-light;
  padding: 0 $spacing-hard;
  margin-left: -$spacing-hard;
  margin-right: -$spacing-hard;
  position: absolute;
  box-sizing: border-box;
}
