.header {
  background: linear-gradient(to bottom, $color-dark 50%,$color-gray 100%);;
  height: $spacing-hard * 5;
  width: 400vw;
  color: $color-light;
  padding: 0 $spacing-hard + 10px;
  position: absolute;
  box-sizing: border-box;

  &__headline {
    margin-top: $spacing-hard / 4;
  }
}
