.category-section {
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  padding-bottom: 90px;
  box-sizing: border-box;

  &__headline {
    padding: 5px $spacing-hard;
    background: $color-gray;
    color: $color-light;
  }
}

.menu-category-filter {
  margin: $spacing-hard 0 0 $spacing-hard;

  &:checked  ~ .teaser-section .teaser-section__teaser {
    opacity: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
  }

  &[data-filter=one]:checked ~ .teaser-section .teaser-section__teaser[data-tag=one], &[data-filter=two]:checked ~ .teaser-section .teaser-section__teaser[data-tag=two], &[data-filter=three]:checked ~ .teaser-section .teaser-section__teaser[data-tag=three] {
    max-height: 150px;
    opacity: 1;
    margin: $spacing-hard/2 0;
    padding: $spacing-hard;
  }
}

.teaser-section {
  display: flex;
  flex-direction: column;
  margin: $spacing-hard;
  overflow: hidden;

  &__teaser {
    margin: $spacing-hard/2 0;
    padding: $spacing-hard 0;
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
    display: flex;
    max-height: 110px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.175,  0.885, 0.320, 1.275);

    @media (min-width: $breakpoint-medium) {
      border: 1px solid $color-gray-light;
      padding: $spacing-hard;
      border-radius: 96px 0 0 96px;
    }
  }

  &__text {
    padding-left: $spacing-hard;
  }

  &__image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    max-width: 100%;

    @media (min-width: $breakpoint-medium) {
      width: 150px;
      height: 150px;
    }
  }

}
