.category-section {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 90px;
  box-sizing: border-box;

  &__headline {
    padding: 5px $spacing-hard;
    background: $color-gray;
  }
}

.menu-category-filter {
  margin: $spacing-hard 0 0 $spacing-hard;

  &:checked  ~ .teaser-section .teaser-section__teaser {
    opacity: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
  }

  &[data-filter=one]:checked ~ .teaser-section .teaser-section__teaser[data-tag=one], &[data-filter=two]:checked ~ .teaser-section .teaser-section__teaser[data-tag=two], &[data-filter=three]:checked ~ .teaser-section .teaser-section__teaser[data-tag=three], &[data-filter=four]:checked ~ .teaser-section .teaser-section__teaser[data-tag=four] {
    max-height: 150px;
    opacity: 1;
    margin: $spacing-hard/2 0;
    padding: $spacing-hard;
  }
}

.teaser-section {
  display: flex;
  flex-direction: column;
  margin: $spacing-hard;
  overflow: hidden;

  &__teaser {
    margin: $spacing-hard/2 0;
    padding: $spacing-hard;
    border: 1px solid $color-gray-light;
    display: flex;
    max-height: 150px;
    transition: all 0.2s;
    overflow: hidden;
  }

  &__text {
    padding-left: $spacing-hard;
  }

}
