<section class="category-section category-section__01">
  <h2 class="category-section__headline">Category 01</h2>
  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" />
  <label for="category01-filter01">filter 01</label>
  <input type="checkbox" name="category01-filter"id="category01-filter02"  class="menu-category-filter" />
  <label for="category01-filter02">filter 02</label>
  <input type="checkbox" name="category01-filter"id="category01-filter03"  class="menu-category-filter" />
  <label for="category01-filter03">filter 03</label>
  <input type="checkbox" name="category01-filter" id="category01-filter04" class="menu-category-filter" />
  <label for="category01-filter04">filter 04</label>
</section>
<section class="category-section category-section__02">
  <h2 class="category-section__headline">Category 02</h2>
  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" />
  <label for="category01-filter01">filter 01</label>
  <input type="checkbox" name="category01-filter"id="category01-filter02"  class="menu-category-filter" />
  <label for="category01-filter02">filter 02</label>
  <input type="checkbox" name="category01-filter"id="category01-filter03"  class="menu-category-filter" />
  <label for="category01-filter03">filter 03</label>
  <input type="checkbox" name="category01-filter" id="category01-filter04" class="menu-category-filter" />
  <label for="category01-filter04">filter 04</label>
</section>
<section class="category-section category-section__03">
  <h2 class="category-section__headline">Category 03</h2>
  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" />
  <label for="category01-filter01">filter 01</label>
  <input type="checkbox" name="category01-filter"id="category01-filter02"  class="menu-category-filter" />
  <label for="category01-filter02">filter 02</label>
  <input type="checkbox" name="category01-filter"id="category01-filter03"  class="menu-category-filter" />
  <label for="category01-filter03">filter 03</label>
  <input type="checkbox" name="category01-filter" id="category01-filter04" class="menu-category-filter" />
  <label for="category01-filter04">filter 04</label>
</section>
<section class="category-section category-section__04">
  <h2 class="category-section__headline">Category 04</h2>
  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" />
  <label for="category01-filter01">filter 01</label>
  <input type="checkbox" name="category01-filter"id="category01-filter02"  class="menu-category-filter" />
  <label for="category01-filter02">filter 02</label>
  <input type="checkbox" name="category01-filter"id="category01-filter03"  class="menu-category-filter" />
  <label for="category01-filter03">filter 03</label>
  <input type="checkbox" name="category01-filter" id="category01-filter04" class="menu-category-filter" />
  <label for="category01-filter04">filter 04</label>
</section>
