<section class="category-section category-section__01">
  <h2 class="category-section__headline">Category 01</h2>
  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" data-filter="one" />
  <label for="category01-filter01">filter 01</label>
  <input type="checkbox" name="category01-filter" id="category01-filter02"  class="menu-category-filter" data-filter="two" />
  <label for="category01-filter02">filter 02</label>
  <input type="checkbox" name="category01-filter" id="category01-filter03"  class="menu-category-filter" data-filter="three" />
  <label for="category01-filter03">filter 03</label>
  <input type="checkbox" name="category01-filter" id="category01-filter04" class="menu-category-filter" data-filter="four" />
  <label for="category01-filter04">filter 04</label>

  <div class="teaser-section">
    <figure class="teaser-section__teaser" data-tag="one">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 01
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser" data-tag="three">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 02
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser"data-tag="two">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 03
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser" data-tag="one">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 04
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser" data-tag="two">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 05
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser" data-tag="four">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 06
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser" data-tag="four">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 07
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser" data-tag="two">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 08
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser" data-tag="one">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 09
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser" data-tag="three">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 10
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser" data-tag="one">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 11
      </figcaption>
    </figure>
    <figure class="teaser-section__teaser" data-tag="three">
      <img class="teaser-section__image" src="http://placehold.it/150x150" alt="" />
      <figcaption  class="teaser-section__text">
        Teaser 12
      </figcaption>
    </figure>
  </div>
</section>
<section class="category-section category-section__02">
  <h2 class="category-section__headline">Category 02</h2>
  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" />
  <label for="category01-filter01">filter 01</label>
  <input type="checkbox" name="category01-filter"id="category01-filter02"  class="menu-category-filter" />
  <label for="category01-filter02">filter 02</label>
  <input type="checkbox" name="category01-filter"id="category01-filter03"  class="menu-category-filter" />
  <label for="category01-filter03">filter 03</label>
  <input type="checkbox" name="category01-filter" id="category01-filter04" class="menu-category-filter" />
  <label for="category01-filter04">filter 04</label>
</section>
<section class="category-section category-section__03">
  <h2 class="category-section__headline">Category 03</h2>
  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" />
  <label for="category01-filter01">filter 01</label>
  <input type="checkbox" name="category01-filter"id="category01-filter02"  class="menu-category-filter" />
  <label for="category01-filter02">filter 02</label>
  <input type="checkbox" name="category01-filter"id="category01-filter03"  class="menu-category-filter" />
  <label for="category01-filter03">filter 03</label>
  <input type="checkbox" name="category01-filter" id="category01-filter04" class="menu-category-filter" />
  <label for="category01-filter04">filter 04</label>
</section>
<section class="category-section category-section__04">
  <h2 class="category-section__headline">Category 04</h2>
  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" />
  <label for="category01-filter01">filter 01</label>
  <input type="checkbox" name="category01-filter"id="category01-filter02"  class="menu-category-filter" />
  <label for="category01-filter02">filter 02</label>
  <input type="checkbox" name="category01-filter"id="category01-filter03"  class="menu-category-filter" />
  <label for="category01-filter03">filter 03</label>
  <input type="checkbox" name="category01-filter" id="category01-filter04" class="menu-category-filter" />
  <label for="category01-filter04">filter 04</label>
</section>
