<section class="category-section category-section__01" id="jsSection1">
  <h2 class="category-section__headline">Familienveranstaltungen</h2>

  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" data-filter="one" />
  <label for="category01-filter01">&hellip;</label>
  <input type="checkbox" name="category01-filter" id="category01-filter02"  class="menu-category-filter" data-filter="two" />
  <label for="category01-filter02">&hellip;</label>

  <svg class="symbol-container" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-smiley" viewBox="0 0 32 32">
            <title>Smiley</title>
            <path class="path1" d="M16 32c8.837 0 16-7.163 16-16s-7.163-16-16-16-16 7.163-16 16 7.163 16 16 16zM16 3c7.18 0 13 5.82 13 13s-5.82 13-13 13-13-5.82-13-13 5.82-13 13-13zM16.961 22.22c4.383-0.866 7.785-2.861 9.014-5.519-0.677 5.249-5.047 9.299-10.339 9.299-3.726 0-6.996-2.009-8.84-5.030 2.2 1.721 6.079 2.056 10.165 1.249zM20 11c0-1.657 0.895-3 2-3s2 1.343 2 3c0 1.657-0.895 3-2 3s-2-1.343-2-3zM11 11.609c-1.306 0-2.417 0.489-2.829 1.172-0.111-0.183-0.171-1.005-0.171-1.211 0-0.971 1.343-1.758 3-1.758s3 0.787 3 1.758c0 0.206-0.061 1.028-0.171 1.211-0.412-0.683-1.522-1.172-2.829-1.172z"></path>
        </symbol>
    </defs>
</svg>

  <div class="teaser-section" id="jsTeaserSpirituous">

    <article class="teaser-section__teaser" data-tag="one" data-id="1" data-offline>
      <img class="teaser-section__image" width="150" height="150" src="http://placehold.it/150x150" alt="" />
      <div  class="teaser-section__text">
        <h3>Name</h3>
        <p>Dies ist das Originalrezept des Pi\u00f1a Colada.</p>
        <p><strong>Rating;</strong> 3.5</p>
        <input type="checkbox" class="teaser-section__more-button" name="learn-more1" id="learn-more1" />
        <label for="learn-more1">Learn more</label>
        <dl class="teaser-section__more">
          <dt>Instruction:</dt>
          <dd>Alle Zutaten mit gesto\u00dfenem Eis in einen Blender geben und anschlie\u00dfend in einem gro\u00dfen Tumbler servieren.</dd>
          <dt>ingredients:</dt>
          <dd>Rum (wei\u00df), Ananassaft, Cream of Coconut, Chrushed Ice</dd>
        </dl>
      </div>
    </article>

    <article class="teaser-section__teaser" data-tag="one" data-id="1" data-offline>
      <img class="teaser-section__image" width="150" height="150" src="http://placehold.it/150x150" alt="" />
      <div  class="teaser-section__text">
        <h3>Name</h3>
        <p>Dies ist das Originalrezept des Pi\u00f1a Colada.</p>
        <p><strong>Rating;</strong> 3.5</p>
        <input type="checkbox" class="teaser-section__more-button" name="learn-more1" id="learn-more1" />
        <label for="learn-more1">Learn more</label>
        <dl class="teaser-section__more">
          <dt>Instruction:</dt>
          <dd>Alle Zutaten mit gesto\u00dfenem Eis in einen Blender geben und anschlie\u00dfend in einem gro\u00dfen Tumbler servieren.</dd>
          <dt>ingredients:</dt>
          <dd>Rum (wei\u00df), Ananassaft, Cream of Coconut, Chrushed Ice</dd>
        </dl>
      </div>
    </article>

    <article class="teaser-section__teaser" data-tag="one" data-id="1" data-offline>
      <img class="teaser-section__image" width="150" height="150" src="http://placehold.it/150x150" alt="" />
      <div  class="teaser-section__text">
        <h3>Name</h3>
        <p>Dies ist das Originalrezept des Pi\u00f1a Colada.</p>
        <p><strong>Rating;</strong> 3.5</p>
        <input type="checkbox" class="teaser-section__more-button" name="learn-more1" id="learn-more1" />
        <label for="learn-more1">Learn more</label>
        <dl class="teaser-section__more">
          <dt>Instruction:</dt>
          <dd>Alle Zutaten mit gesto\u00dfenem Eis in einen Blender geben und anschlie\u00dfend in einem gro\u00dfen Tumbler servieren.</dd>
          <dt>ingredients:</dt>
          <dd>Rum (wei\u00df), Ananassaft, Cream of Coconut, Chrushed Ice</dd>
        </dl>
      </div>
    </article>

  </div>
</section>


<section class="category-section category-section__02" id="jsSection2">
  <h2 class="category-section__headline">Soft drinks</h2>

  <input type="checkbox" name="category02-filter" id="category02-filter01" class="menu-category-filter" data-filter="one" />
  <label for="category02-filter01">Beginner</label>
  <input type="checkbox" name="category02-filter"id="category02-filter02"  class="menu-category-filter" data-filter="two" />
  <label for="category02-filter02">Advanced</label>

  <div class="teaser-section" id="jsTeaserNonAlc">

    <article class="teaser-section__teaser" data-tag="one" data-id="1" data-offline>
      <img class="teaser-section__image" width="150" height="150" src="http://placehold.it/150x150" alt="" />
      <div  class="teaser-section__text">
        <h3>Name</h3>
        <p>Dies ist das Originalrezept des Pi\u00f1a Colada.</p>
        <p><strong>Rating;</strong> 3.5</p>
        <input type="checkbox" class="teaser-section__more-button" name="learn-more1" id="learn-more1" />
        <label for="learn-more1">Learn more</label>
        <dl class="teaser-section__more">
          <dt>Instruction:</dt>
          <dd>Alle Zutaten mit gesto\u00dfenem Eis in einen Blender geben und anschlie\u00dfend in einem gro\u00dfen Tumbler servieren.</dd>
          <dt>ingredients:</dt>
          <dd>Rum (wei\u00df), Ananassaft, Cream of Coconut, Chrushed Ice</dd>
        </dl>
      </div>
    </article>

  </div>
</section>
